<tabs-container>
    <tab title="How to use information">
        <div>Here you can find info related to appropriate section</div>
    </tab>
    <tab title="Registration and log in">
        <div>Here you can find info related to appropriate section</div>
    </tab>
    <tab title="Help">
        <div>Here you can find info related to appropriate section</div>
    </tab>
    <tab title="Restore and reset">
        <div>Here you can find info related to appropriate section</div>
    </tab>
    <tab title="Social sharing">
        <div>Here you can find info related to appropriate section</div>
    </tab>
</tabs-container>